<p>localstorage works!</p>
<a target="_blank" href="https://icons8.com/icon/31595/league-of-legends">League of Legends</a> Icon von <a target="_blank" href="https://icons8.com">Icons8</a>
<a target="_blank" href="https://icons8.com/icon/Rqk11fzH1NQq/dota">Dota</a> Icon von <a target="_blank" href="https://icons8.com">Icons8</a>
<a target="_blank" href="https://icons8.com/icon/y8LwJFIz10QP/pubg">PUBG</a> Icon von <a target="_blank" href="https://icons8.com">Icons8</a>
<a target="_blank" href="https://icons8.com/icon/26119/gegenschlag">Gegenschlag</a> Icon von <a target="_blank" href="https://icons8.com">Icons8</a>
<a target="_blank" href="https://icons8.com/icon/63667/overwatch">Overwatch</a> Icon von <a target="_blank" href="https://icons8.com">Icons8</a>
<a target="_blank" href="https://icons8.com/icon/aUZxT3Erwill/bewertend">bewertend</a> Icon von <a target="_blank" href="https://icons8.com">Icons8</a>

<!-- das letzte ist Valorant lol-->

