h3 {
    color: #ffa500;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

#spalte1 {
    width: 80px;
}

#spalte2 {
    width: 120px;
}

#spalte3 {
    width: 180px;
}

#spalte4 {
    width: 100px;
}

.feed-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.feed-container>div {
    flex: 1;
}
.feed-container>div{
    margin-right: 10px; /* Anpassung der rechten Margin des ersten Containers */
    background-color: #333333; /* Hintergrundfarbe für den ersten Container */
}
.feed-container>div:last-child{
    margin-right: 10px; /* Anpassung der rechten Margin des ersten Containers */
    background-color: #333333; /* Hintergrundfarbe für den ersten Container */
}

.feed-container>div {
    margin-left: 10px; /* Anpassung der linken Margin des zweiten Containers */
    background-color: #333333; /* Hintergrundfarbe für den zweiten Container */
}

#feed-table {
    width: 100%;
}
