<body>
<div style="padding-left: 10%; padding-right: 10%;">
  <div id="main" class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark gray-900 rounded">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10"
              aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">𝕖𝕊𝕥𝕒𝕥𝕚𝕜𝕜<span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/games">Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/twitch">Twitch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tournaments">eSports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/faq">FAQ</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div style="margin-top: 50px">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- Angular router will handle displaying the correct component -->
</body>


