#myChart {
  background-color: #333333;
  Color: #FF8600;
  font-size: x-large;
}

#europeteampie,#northamericapie,#Koreapie,#topteams {
  background-color: #333333;
  Color: #FF8600;
  font-size: x-large;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.card {
  background-color: #202020;
}

table{
  width: 70%;
}

.card:hover {
  box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.navbar{
  background-color: #202020;
}

.example-margin {
  margin: 0 12px;
}
th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 20px;
}
