#myChart {
  background-color: #333333;
  Color: #FF8600;
  font-size: x-large;
}

#europeteampie, #northamericapie, #Koreapie, #topteams {
  background-color: #333333;
  Color: #FF8600;
  font-size: x-large;
}


.card {
  background-color: #202020;
}

table {
  width: 70%;
}

.card:hover {
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
}


td, th{
  padding-top: 9px;
  padding-bottom: 20px;
  padding-left: 31px;
  padding-right: 20px;
}

.lineborder {
  border: 3px solid;
  border-color: lightgrey;
}

#linechart_tournament {
  background-color: #333333;
}

#teams {
  border: 5px solid;
  margin: auto;
  width: 100%;
  left: 1%;
}

#earnings {
  top: 50%;
  left: 50%;
}

#earning > table {
  width: 70%;
  align-content: center;
}
