<h3 style="color:#ff3e00"> Turnier Übersicht</h3>
<div class="card">
  <div class="container">
    <br/>
    <nav class="navbar navbar-light " style="background-color: #202020;">
      <div class="container justify-content-md-center" style="background-color: #202020;">
        <table>
          <tr>
            <td *ngFor="let n of selectedgames">
              <img src={{n.img}} style="height: 40px; width: 40px; margin-left:10px;">
              <input class="form-check-input" type="checkbox" style="margin-left:20px;" [value]="n.name"
                     [checked]="n.selected" (change)=onchangegame($event)>
            </td>
          </tr>
        </table>
      </div>
    </nav>
    <table class="table" style="margin-top: 5%;">
      <tr>
        <td>
          <div style="background: #333333; color: lightgrey;">
            <div style="color: lightgrey;">
              <h3>Top Turniere</h3>
              <table id="feed-table">
                <colgroup>
                  <col id="spalte1">
                  <col id="spalte2">
                  <col id="spalte3">
                  <col id="spalte4">
                </colgroup>
                <tr>
                  <th class="lineborder">Place</th>
                  <th class="lineborder">Tournament</th>
                  <th class="lineborder">Prizepool in $</th>
                  <th class="lineborder">Game</th>
                </tr>
                <tr *ngFor="let stream of tabledata; let i=index">
                  <td class="lineborder">{{ i + 1 }}</td>
                  <td class="lineborder">{{ stream.name }}</td>
                  <td class="lineborder">{{ stream.prizepool }}</td>
                  <td class="lineborder"><img style="height: 50px; width: 50px;"
                                              src={{stream.img}}></td>
                </tr>
              </table>
              <hr>
            </div>
            <div>
              <h3 style="color:lightgrey">Gesamt Preispool</h3>
              <canvas id="myChart" width="550" height="275"></canvas>
            </div>
            <hr>
            <div>
              <canvas id="tournamentpie" width="550" height="550"></canvas>
            </div>
          </div>
        </td>
        <td>
          <div style="background: #333333; color:lightgrey">
            <h3>Historie vergangener Tier 1 Turniere</h3>
            <table id="feed-table" width="850" height="600">
              <colgroup>
                <col id="spalte1">
                <col id="spalte2">
                <col id="spalte3">
                <col id="spalte4">
              </colgroup>
              <tr>
                <th class="lineborder">Startdate</th>
                <th class="lineborder">Tournament</th>
                <th class="lineborder">Prizepool in $</th>
                <th class="lineborder">Game</th>
                <th class="lineborder">Enddate</th>
              </tr>
              <tr *ngFor="let stream of tournament_tabletimedata; let i=index">
                <td class="lineborder">{{ stream.startdate }}</td>
                <td class="lineborder">{{ stream.name }}</td>
                <td class="lineborder">{{ stream.prizepool }}</td>
                <td class="lineborder"><img style="height: 50px; width: 50px;"
                                            src={{stream.img}}></td>
                <td class="lineborder">{{ stream.enddate }}</td>
              </tr>
            </table>
            <hr>

          </div>

          <div style="background-color: #333333;">
            <canvas id="linechart_tournament" width="550" height="550"></canvas>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<br/>

<h3 style="color:#ff3e00">Teams</h3>
<div class="card">
  <div class="container">
    <br/>
    <nav class="navbar navbar-light " style="background-color: #202020;">
      <div class="container justify-content-md-center" style="background-color: #202020;">
        <table>
          <tr>
            <td *ngFor="let n of selectedgames">
              <img src={{n.img}} style="height: 40px; width: 40px; margin-left:10px;">
              <input class="form-check-input" type="checkbox" style="margin-left:20px;" [value]="n.name"
                     [checked]="n.selected" (change)=onchangegame($event)>
            </td>
          </tr>
        </table>
      </div>
    </nav>
    <br/>
    <table>
      <tr>
        <td>
          <div id="earnings" style="background: #333333; color:lightgrey">
            <h3>Top Teams</h3>
            <table height="600" style="padding-bottom:400px;">
              <colgroup>
                <col id="spalte1">
                <col id="spalte2">
                <col id="spalte3">
                <col id="spalte4">
              </colgroup>
              <tr>
                <th class="lineborder">Name</th>
                <th class="lineborder">Total earnings $</th>
                <th class="lineborder">Region</th>
                <th class="lineborder">Game</th>
              </tr>
              <tr *ngFor="let stream of team_wholedata; let i=index">
                <td class="lineborder">{{ stream.name }}</td>
                <td class="lineborder">{{ stream.earnings }}</td>
                <td class="lineborder"><img style="height: 50px; width: 50px;"
                                            src={{stream.img}}></td>
                <td class="lineborder"><img style="height: 50px; width: 50px;"
                                            src={{stream.img_game}}></td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td>
          <h3 style="color:lightgrey">Europa</h3>
          <div style="width: 500px; height: 500px;">
            <canvas id="europeteampie" width="350" height="350"></canvas>
          </div>
          <h3 style="color:lightgrey">Nordamerika</h3>
          <div style="width: 500px; height: 500px;">
            <canvas id="northamericapie" width="350" height="350"></canvas>
          </div>
        </td>
        <td>
          <h3 style="color:lightgrey">Korea</h3>
          <div style="width: 500px; height: 500px;">
            <canvas id="Koreapie" width="350" height="350"></canvas>
          </div>
          <h3 style="color:lightgrey">Top Teams</h3>
          <div style="width: 500px; height: 500px;">
            <canvas id="topteams" width="350" height="350"></canvas>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>


<div id="iconsrc" style="color:lightgrey; margin-top: 3%;">
  <h3 style="color:#ff3e00;">Spiele Icons:</h3>
  <a target="_blank" href="https://icons8.com/icon/31595/league-of-legends">League of Legends</a> Icon von <a
  target="_blank" href="https://icons8.com">Icons8</a><br>
  <a target="_blank" href="https://icons8.com/icon/Rqk11fzH1NQq/dota">Dota</a> Icon von <a target="_blank"
                                                                                           href="https://icons8.com">Icons8</a><br>
  <a target="_blank" href="https://icons8.com/icon/y8LwJFIz10QP/pubg">PUBG</a> Icon von <a target="_blank"
                                                                                           href="https://icons8.com">Icons8</a><br>
  <a target="_blank" href="https://icons8.com/icon/26119/gegenschlag">Gegenschlag</a> Icon von <a target="_blank"
                                                                                                  href="https://icons8.com">Icons8</a><br>
  <a target="_blank" href="https://icons8.com/icon/63667/overwatch">Overwatch</a> Icon von <a target="_blank"
                                                                                              href="https://icons8.com">Icons8</a><br>
  <a target="_blank" href="https://icons8.com/icon/aUZxT3Erwill/bewertend">bewertend</a> Icon von <a target="_blank"
                                                                                                     href="https://icons8.com">Icons8</a><br>

</div>


