<div class="container mx-auto mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img ngSrc="./assets/lol.jpg" class="card-img-top" alt="..." height="1080" width="1920">
        <div class="card-body">
          <h5 class="card-title">League of Legends</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-outline-primary"><i class="fas fa-link"></i>Twitch stats</a>
          <a href="/tournaments" class="btn btn-outline-primary"><i class="fab fa-github"></i>eSports</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img ngSrc="/assets/dota2.jpg" class="card-img-top" alt="..." height="353" width="616">
        <div class="card-body">
          <h5 class="card-title">Dota 2</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="/moba" class="btn btn-outline-primary"><i class="fas fa-link"></i>Twitch stats</a>
          <a href="#" class="btn btn-outline-primary"><i class="fab fa-github"></i>eSports</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img ngSrc="/assets/valorant.jpg" class="card-img-top" alt="..." height="1350" width="2400">
        <div class="card-body">
          <h5 class="card-title">Valorant</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-outline-primary"><i class="fas fa-link"></i>Twitch stats</a>
          <a href="#" class="btn btn-outline-primary"><i class="fab fa-github"></i>eSports</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img ngSrc="/assets/cs2.jpg" class="card-img-top" alt="..." height="353" width="616">
        <div class="card-body">
          <h5 class="card-title">Counter Strike 2</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-outline-primary"><i class="fas fa-link"></i>Twitch stats</a>
          <a href="#" class="btn btn-outline-primary"><i class="fab fa-github"></i>eSports</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img ngSrc="/assets/rb6.jpg" class="card-img-top" alt="..." height="353" width="616">
        <div class="card-body">
          <h5 class="card-title">Rainbow Six Siege</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-outline-primary"><i class="fas fa-link"></i>Twitch stats</a>
          <a href="#" class="btn btn-outline-primary"><i class="fab fa-github"></i>eSports</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img ngSrc="/assets/pubg.jpg" class="card-img-top" alt="..." height="800" width="1360">
        <div class="card-body">
          <h5 class="card-title">PUBG</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-outline-primary"><i class="fas fa-link"></i>Twitch stats</a>
          <a href="#" class="btn btn-outline-primary"><i class="fab fa-github"></i>eSports</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img ngSrc="/assets/fortnite.jpg" class="card-img-top" alt="..." height="675" width="1200">
        <div class="card-body">
          <h5 class="card-title">Fortnite</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-outline-primary"><i class="fas fa-link"></i>Twitch stats</a>
          <a href="#" class="btn btn-outline-primary"><i class="fab fa-github"></i>eSports</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img ngSrc="/assets/cod.jpeg" class="card-img-top" alt="..." height="360" width="640">
        <div class="card-body">
          <h5 class="card-title">CoD: Warzone</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-outline-primary"><i class="fas fa-link"></i>Twitch stats</a>
          <a href="#" class="btn btn-outline-primary"><i class="fab fa-github"></i>eSports</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img ngSrc="/assets/overwatch2.jpg" class="card-img-top" alt="..." height="1080" width="1920">
        <div class="card-body">
          <h5 class="card-title">Overwatch 2</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-outline-primary"><i class="fas fa-link"></i>Twitch stats</a>
          <a href="#" class="btn btn-outline-primary"><i class="fab fa-github"></i>eSports</a>
        </div>
      </div>
    </div>

  </div>
</div>

