<div id="home">
  <div class="card text-bg-dark">
    <img src="assets/dalle_main.png" class="card-img" alt="dalle">
    <div class="card-img-overlay">
      <h5 class="card-title text-center">Welcome to 𝕖𝕊𝕥𝕒𝕥𝕚𝕜𝕜</h5>
      <br>
      <p class="card-text text-center">"eStatikk: Wir bieten die Erkenntnisse, die die eSports-Industrie antreiben.
        Unsere umfassenden Analysen und Metriken setzen Maßstäbe für Spieler, Teams und Investoren."</p>
    </div>
  </div>


  <div class="card text-center" style="margin-top: 7.5%;">
    <div class="card-header">
      eSports for everyone!
    </div>
    <div class="card-body" id="cardbody">
      <h5 class="card-title">What is eStatikk</h5>
      <p class="card-text"> Welcome to eStatikk, the premier destination for eSports analytics and insights. We provide
        in-depth data and analysis on all things eSports, from player rankings and team statistics to match outcomes and
        tournament coverage.</p>

      <p> Our mission is to empower gamers, enthusiasts, and professionals alike by providing valuable information that
        enhances understanding and appreciation of the competitive gaming industry. Whether you are looking to improve
        your gameplay, keep track of your favorite teams, or explore the world of eSports, eStatikk is your reliable
        source.</p>

      <p> With a team of dedicated analysts and a passionate community, eStatikk is constantly evolving to bring you the
        most up-to-date and comprehensive eSports data. Join us on our journey to elevate the eSports experience for
        everyone. </p>
      <a href="/games" class="btn btn-primary">Games!</a>
    </div>
  </div>


</div>


