<!-- home.component.html -->

<div class="home-header">
  <nav>
    <img src="assets/Logo_eStatikk.png" alt="eStatikk Logo" class="logo">
    <div class="nav-links">
    <a routerLink="/">Home</a>
    <a routerLink="/faq">FAQ</a>
    <a routerLink="/about">About</a>
    <a routerLink="/contact">Contact</a>
  </div>
  </nav>
  <h1>Insights that Drive eSports.</h1>
  <p>Welcome to eStatikk</p>
  <h2>"eStatikk: Wir bieten die Erkenntnisse, die die eSports-Industrie antreiben.
    Unsere umfassenden Analysen und Metriken setzen Maßstäbe für Spieler, Teams und Investoren."</h2>
</div>

<div id="activity-feed">
  <h2>Feed</h2>
  <app-streams-data></app-streams-data>
</div>

<div id="chart">
  <h2>Top LoL Streams in Sprachen aufgeteilt:</h2>
  <app-chart-demo></app-chart-demo>
</div>

<div id="pie-chart">
  <h2>Dota vs LoL</h2>
  <app-pie-chart></app-pie-chart>
</div>


