/* home.component.css */
/* General body styles */
body {
  background-color: #333;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.home-header {
  background-image: url('/assets/source/icons/DALLE_2023-12-12_10.34.11_-_A_revised_version_of_the_wide-format_digital_artwork_for_a_website_header_with_a_darker_theme._It_features_a_variety_of_fictional_game_characters_eng.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px 20px;
  position: relative;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-header nav {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  height: auto;
  max-height: 50px;
  width: auto;
}

.home-header .nav-links {
  display: flex;
  align-items: center;
}

.home-header .nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  transition: color 0.3s ease;
}

.home-header .nav-links a:hover {
  color: #ffa500;
}

.home-header h1, .home-header p, .home-header h2 {
  color: white;
  transition: color 0.3s ease;
}

.home-header h1:hover, .home-header p:hover, .home-header h2:hover {
  color: #ffa500;
}

#activity-feed, #chart, #pie-chart {
  transition: box-shadow 0.3s ease;
}

#activity-feed:hover, #chart:hover, #pie-chart:hover {
  box-shadow: 0 4px 8px rgba(255, 165, 0, 0.6);
}

#activity-feed, #chart, #pie-chart {
  padding: 20px;
}

/* Responsive Layout Adjustments for medium-screens */
@media screen and (max-width: 768px) {
    .home-header {
    height: 300px;
      justify-content: flex-start; /* Smaller fixed height for medium screens */
  }
  .home-header .nav-links {
    flex-direction: row;
    justify-content: flex-end;
  }

  .home-header nav {
    position: absolute;
    top: 0;
    left: 0; /* Keeps nav at the top left */
    right: 0; /* Stretches nav across the top */
    flex-direction: row; /* Ensures nav items are in a row */
  }

  .logo {
    margin-bottom: 10px; /* Add space between logo and links */
  }

  #activity-feed, #chart, #pie-chart {
    float: none;
    margin-top: 20px;
  }

  .home-header .nav-links {
    flex-direction: row; /* Keeps nav links in a row */
  }
}

/* Larger Text for Smaller Screens */
@media screen and (max-width: 600px) {
    .home-header {
    height: 200px; /* Even smaller height for small screens */
  }
  .home-header h1 {
    font-size: 1.5rem;
  }

  .home-header p, .home-header h2 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .home-header {
    height: 500px; /* Increased height for large monitors */
  }
  /* ... other large screen adjustments, if needed ... */
}
