<!-- home.component.html -->

<div class="home-header">
  <h2>Welcome to eStatikk</h2>
  <h1>Insights that Drive eSports.</h1>
  <h2>"eStatikk: Wir bieten die Erkenntnisse, die die eSports-Industrie antreiben.
    Unsere umfassenden Analysen und Metriken setzen Maßstäbe für Spieler, Teams und Investoren."</h2>
</div>

<div id="activity-feed">
  <h2>Feed</h2>
  <app-streams-data></app-streams-data>
</div>

<div id="chart">
  <h2>Top LoL Streams in Sprachen aufgeteilt:</h2>
  <app-chart-demo></app-chart-demo>
</div>

<div id="pie-chart">
  <h2>Dota vs LoL</h2>
  <app-pie-chart></app-pie-chart>
</div>
